div .contact_main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      79deg,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 1) 90%,
      rgba(51, 51, 51, 1) 90%
    );
    height: 700px;
}
.cnt_text{
    color: white;
    
    padding: 10px 10px 10px 10px;
    font-family: "Raleway", sans-serif;
}


.headcont:hover{
  color: #f00f80;
 
}
.spen{
  font-size: 17px;
}

.ct_para{
    font-size: 19px;
}

.cntnimg{
    border-radius: 50%;
    animation: zoom-in-zoom-out 7s ease-out infinite;
}
@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  .social_cnt{
      display: flex;
      justify-content: center;
     
      align-items: center;
      background-color: #6464648e;
      padding: 10px 10px 10px 10px;
  }
  .cntmedia{
      cursor: pointer;
      margin-top: 10px;
      margin: 15px;
  }
  .cntmedia:hover{
    
      transform: rotate(360deg);
      transition: 3s;
  
  }
  .quick{
      text-align: center;
      font-size: 18px;
     
     
  }
 
  @media (max-width: 870px) {
    div .contact_main{
      height: 860px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
   .cnt_text{
     text-align: center;
   }

  }

  @media (max-width: 400px) {

div .contact_main{
height: 700px;
}


.quick{
  font-size: 18px;
}
  }
  
  @media (max-width: 294px) {
    .cnt_text{
      font-size: 18px;
    }
    .quick{
      font-size: 18px;
    }


  }

  @media (max-width: 257px) {

   div .contact_main{
      height: 500px;
    }
    
    .quick{
      font-size: 16px;
    }
  }
  @media (max-width: 224px) {
   
    .quick{
      font-size: 13px;
    }
  }